@media screen and (max-width : 1010px) {
    #home div{
        padding: 0 0.5rem;
    }

    .abt-card-container {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
    }

    .abt-card{
        width: fit-content;
    }

    .committees-card, .eb-card,.abt-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #brochure{
        margin-bottom: 0rem;
    }

    .brochure-pdf{
        margin-top: 3.5rem;
        height: fit-content;
        flex-direction: column;
        padding: 2rem;
        padding-top: 0;
    }

    .brochure-pdf img{
        width: 100%;
        transform: perspective(50em) translateZ(0) translate(0%, 0%) rotateY(30deg) rotateX(20deg) translateY(0px) translateY(-50px);
    }
    .brochure-pdf img:hover{
        transform: translateY(-50px);
    }

    .brochure-pdf div{
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .contact-form{
        width: 100%;
    }

    .committees-container,.eb-container{
        grid-template-columns:repeat(auto-fit, minmax(100%,1fr));
    }

    .contact-form input,textarea {
        text-align: center;
    }

    #contact{
        margin-top: 0rem;
    }
}