/* Banner */
#home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding: 3rem 0;
    gap: 1.5rem;
    min-height: 500px;
    height: fit-content;
    max-height: fit-content;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../assets/img/banner-img.png');
}

#home div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#home h1,#home h3{
    text-align: center;
    border-radius: 0.5rem;
    width: fit-content;
    padding: 0rem 1rem;
    font-size: 5rem;
    text-shadow: 0 0 5px black;
    font-family: 'Poppins';
    word-wrap: break-word;
}

#home h2{
    word-wrap: break-word;
    text-align: center;
    word-spacing: 5px;
    font-size: 2.5rem;
    font-weight: 500;
    font-family: 'Playfair Display', serif;
    text-shadow: 0 0 5px black;
}

#home h3{
    font-weight: 600;
    margin-top: 1.5rem;
    font-size: 2.5rem;
    text-shadow: 0 0 3px black;
}

#home .cta-btn{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 1.2rem;
    background-color: #0d4384;
    box-shadow: rgba(0, 0, 0, 0.623) 0px 0px 29px 0px;
}

#home .cta-btn:hover{
    background-color: var(--primary-hover);
}

/* About Us */
.abt-card-container{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap:1rem;
}

.abt-card{
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: var(--black-100);
    box-shadow: rgba(99, 99, 99, 0.63) 0px 0px 2px 0px;
}

.abt-card h3{
    font-weight: 600;
    padding: 5px 0;
    font-size: 1.2rem;
    color: var(--primary);
}

.abt-card p{
    color: var(--black-900);
    line-height: 1.4;
    max-width: 75ch;
}

.committees-container,.eb-container{
    margin-top: 1rem;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(420px,1fr));
    gap: 1rem;
}

.committees-card, .eb-card{
    border-radius: 0.5rem;
    padding: 1.5rem 1rem;
    background-color: var(--primary);
    box-shadow: rgba(13, 66, 132, 0.63) 0px 0px 2px 0px;
}

.committees-sub-title, .committees-title{
    color: var(--black-100);
}

.committees-sub-title,.eb-sub-title{
    font-weight: 600;
    margin-top: 0.25rem;
    line-height: 1.4;
    max-width: 75ch;
    font-size: 1rem;
}

.committees-sub-title span,.eb-sub-title span{
    color: var(--black-100);
    font-weight: normal;
}

/* EBs */

.eb-sub-title, .eb-title{
    color: var(--primary);
}

.eb-sub-title span{
    color: var(--black-900);
}

.eb-card{
    background-color: var(--black-100);
    box-shadow: rgba(99, 99, 99, 0.63) 0px 0px 2px 0px;
}

/* Brochure */
#brochure{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.brochure-pdf{
    margin-top: 3rem;
    border-radius: 0.5rem;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    height: 230px;
    padding-right: 2rem;
}

.brochure-pdf h3{
    color: var(--black-100);
    font-weight: 700;
    font-size: 1.3rem;
}

.brochure-pdf img{
    max-width: 220px;
    width: 220px;
    transition: var(--transition-all);
    transition-duration: 300ms;
    box-shadow: 30px 0 25px 0 rgba(0, 0, 0, 0.2);
    transform: perspective(50em) translateZ(0) translate(0%, 0%) rotateY(30deg) rotateX(20deg) translateY(0px) translateX(-50px);
}

.brochure-pdf img:hover{
    transform: translateX(-50px);
}

.brochure-pdf div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.brochure-pdf div a{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    width: fit-content;
    color: var(--primary);
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.623) 0px 0px 2px 0px;
    border-radius: 0.6rem;
    padding: 0.7rem 0.9rem;
    transition: var(--transition-all);
}

.brochure-pdf div a:hover{
    background-color: var(--black-100);
}

/* Contact */
#contact{
    margin-top: 1rem;
}

.contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.contact-form{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    max-width: 532px;
    width: 50%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: var(--black-100);
    box-shadow: rgba(99, 99, 99, 0.63) 0px 0px 2px 0px;
}

.contact-form h3{
    font-weight: 500;
    text-align: center;
}

.contact-form input,textarea {
    box-sizing: border-box;
    border-radius: 0.5rem;
    border: none;
    max-width: 500px;
    width: 100%;
    height: 40px;
    padding: 5px 15px;
    font-family: var(--poppins-font);
    font-size: 1rem;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.63) 0px 0px 2px 0px;
    transition: var(--transition-all);
    outline: none;
}

.contact-form input:focus,textarea:focus{
    box-shadow: var(--primary) 0px 0px 2px 0px;
}

textarea {
    resize: vertical;
    padding: 15px 15px;
    height: 150px;
}

.contact-form button{
    border: 2px solid var(--primary-hover);
    cursor: pointer;
    width: fit-content;
    border-radius: 0.6rem;
    padding: 0.7rem 0.9rem;
    font-weight: 500;
    font-size: 1rem;
    margin-top: 1rem;
    color: var(--black-100);
    background-color: var(--primary);
    transition: var(--transition-all);
}

.contact-form button:hover{
    background-color: var(--primary-hover);
}